@font-face {
font-family: 'HelveticaNeueLT';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT W1G 77 Bold Condensed'), url('fonts/HelveticaNeueLTW1G-BdCn.woff') format('woff'), url('fonts/HelveticaNeueLTW1G-BdCn.otf') format('opentype');
}

body{
  background-color: #4d4d4d ;
}

strong{
  font-weight: bold;

}

nav{
  background-color: #383838;
}

nav.topNavBar{
  height:4rem;
  color:white;
  position: fixed;
  width: 100%;
  margin-top: 0px;
  top: 0px;
}
.topNavBlocker{
  height:4rem;

}

h1.Title{
  position: relative;
  float: left;
  display: inline;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-family: HelveticaNeueLT;
}

h1, p, a{
  font-family: Verdana;
}

button{
  font-family: HelveticaNeueLT;
}

/* ###################### */
/* S I D E B A R / N A V  */
/* ###################### */

.hamburger{
  height: 4rem;
  width: 4rem;
  background: #383838;

  display: inline-block;
  float: right;
}

.hamburger img{
  width: 4rem;
  height: 4rem;
}

.searchButton{
  height: 4rem;
  width: 4rem;
  background: #383838;

  display: inline-block;
  float: right;

}

.searchButton img{
  width: 4rem;
  height: 4rem;
}

.sidebar{
  position: fixed;
  width: 0;
  height: 100%;
  z-index: 20; /* Stay on top */

  top: 0;
  right: 0;

  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: #383838; /*#6c6c6c; */
}

.sidebar a{
  transition: 0.3s;
  display: block;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  margin: 0.5rem;
}

.sidebar a:hover{
  color: #6c6c6c;

}

.sidebar #closeButton {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 5rem;
  transition: 0.3s;
  white-space: nowrap;
  margin: 0px;

}

/* ############### */
/* A R T I C L E S */
/* ############### */

.mainArticle{
  background-color: #383838;
  margin: 0.3rem;
  color: white;
  overflow: auto;
}

.mainPictureHolder {
  width: 100%;
  background-image: url("../assets/650-wireless.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}

.mainArticleHeader{
  font-size: 1.75rem;
  margin: 0.6rem 0.6rem 0rem 0.6rem ;
  font-weight: bold;
}

.mainArticleText{
  font-size: 1rem;
  padding: 0.6rem;
  text-overflow: ellipsis;
}

.aboutUsPicture{
  width: 10rem;
  float: left;
  padding: 0.5rem;
  margin: 0.4rem;
}

.smallArticle{
  background-color: #383838;
  margin: 0.3rem;
  color: white;
  height: 8rem;
  overflow: hidden;
}

#number1{
  background-image: url("../assets/keyboard-large.jpg");
}

#number2{
  background-image: url("../assets/merch.jpg");
}

#number3{
  background-image: url("../assets/arctis.png");
  background-color: white;
}

.smallPictureHolder{
  /* background-image: url("../assets/keyboard-large.jpg"); */
  width: 8rem;
  height: 8rem;
  float: left;
  background-size: cover;
  background-position: center;
  margin: 0rem 0.4rem 0rem 0rem;
}

.articleHeader{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.3rem;
  display: block;
}

.articleText{
  font-size: 0.8rem;
  padding: 0.3rem;
}

.buttonHolder{
  margin: 0.3rem;
}

.readMoreArticles{
  width: 100%;
  height: 2.5rem;
  color: white;
  background-color: #acacac;
}

/* ####################### */
/* # N E W S L E T T E R # */
/* ####################### */

.newsLetterBox{
  margin: 0.3rem;
  background-color: #383838;
  color:white;
}

.newsLetterText{
  padding: 0.3rem;
}

.emailLetter{
  margin: 0rem 0.3rem 0.3rem 0.3rem;
  width: 20rem;
}

.newsButton{
  width: 4rem;
  background-color: #acacac;
  color: white;
}

/* ##################### */
/* #  A B O U T   U S  # */
/* ##################### */

.aboutUsProfiles{
  display: flex;
}

.aboutUsProfiles>section{
  width: 30%;
  align-self: center;
  margin: 0.3rem;
  background-color: #383838;
}

.aboutPict{
  width: 100%;
  height: 8rem;
  float: left;
  background-size: cover;
  background-position: center;
  margin: 0rem 0rem 0.3rem 0rem;
}

#ceo {
  background-image: url("../assets/ceo.jpg");
}

#marketing {
  background-image: url("../assets/marketing.jpg");
}

#development {
  background-image: url("../assets/development.jpg");
}

.aboutHeader{
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0.3rem;
}

.aboutBody{
  color: white;
  margin: 0.3rem;
}

/* ##################### */
/* #   S U P P O R T   #  */
/* ##################### */

.supportEmailBox{
  margin: 0.3rem;
  padding: 0.5rem;
  position: relative;
  background-color: #383838;
  z-index: -1;
}

.emailSupport{
  width: 20rem;
  margin-bottom: 0.3rem;
}

.supportEntryBox{
  padding-right: 0.5rem;
  z-index: -1;
}

.supportEntry{
  width: 100%;
  margin-right: 1rem;
  height: 5rem;
  text-align: top;
  font-family: Verdana;
}

.submitSupportButton{
  float: right;

}



/* ##################### */
/* S H O P   I T E M S   */
/* ##################### */

a.shopItem{
  text-decoration: none;
  color: white;
  display: inline;
  width: 45%;
}

.shopItem section{
  width: 45%;
  background-color: #6c6c6c;
  margin: 0.5rem;
  margin-right: 0rem;
  box-sizing: border-box;
}

.shopItem.arctis div{
  background-image: url("../assets/arctis.png");
}

.shopItem.rival650 div{
  background-image: url("../assets/650-wireless.jpg");
}

.shopItem.apexM750 div{
  background-image: url("../assets/keyboard-large.jpg");
}

.shopItem.QcKPrism div{
  background-image: url("../assets/QcK.png");
}

.shopItem div{
  display: block;
  margin: 0rem;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.shopItem h2{
  padding: 0.5rem;

}

/* ##################### */
/* # S H O P   C A R T # */
/* ##################### */

.shopCart{
  z-index: -1;
  float: right;
  position: relative;
  width: 45%;
  background-color: #6c6c6c;
  height: 60rem;
  font-family: Verdana;
  color: white;
}

.shopCart h1{
  margin: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.shopCart th{
  padding: 0.3rem;
}

.shopCart #name{
  width: 10rem;
}

.shopCart #amount{
  width: 10rem;
}


.shopCart #price{
  width: 10rem;
}

p.total{
  text-align: right;
  padding: 1rem 0.3rem 0.3rem 0.3rem;
}

.shopCart h2{
  font-weight: bold;
  padding-top: 5rem;
  text-align: center;
}

.shopCart thead{
  font-weight: bold;

}

.shopCart td{
  text-align: center;

}


/* ##################### */
/* # S I T E   B A S E # */
/* ##################### */



.socialBase{
  background-color: #383838;

}

.logoSmall{
  width: 4rem;
  margin: 0.25rem;
}

.social{
  width: 4rem;
  float: right;
  margin: 0.75rem 0.5rem;
}



/* Extra checks for larger & smaller screens */

@media only screen and (min-width: 400px) {
  h1.Title{
    font-size: 2.5rem;
    padding-top: 0.75rem;
  }
}
